* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    header {
        background-color: rgb(243, 243, 243);
        padding: 20px;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 12%;

            .left_side {
                display: flex;
                align-items: center;

                .logo {
                    margin-right: 40px;

                    h1 {
                        display: inline-block;

                        a {
                            display: block;
                            width: 130px;
                        }
                    }
                }

                nav {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .nav {
                        display: flex;
                        align-items: center;

                        ul {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            li {
                                margin-right: 25px;
                                font-size: 18px;
                                cursor: pointer;

                                button {
                                    border: none;
                                    display: flex;
                                    align-items: center;
                                    font-size: 18px;
                                    cursor: pointer;

                                    i {
                                        margin-right: 10px;
                                    }
                                }

                                a {
                                    color: black;
                                    display: flex;
                                    align-items: center;

                                    i {
                                        margin-right: 10px;
                                        color: #66b769;
                                    }

                                    span {
                                        font-weight: bold;
                                        color: #66b769;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .right_side {
                .registration {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                    

                    .icon {
                        margin-right: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: white;
                        border-radius: 50%;
                        padding: 12px 14px;
                        transition: .3s ease-in-out;

                        svg {
                            width: 15px;
                            max-height: 18px;
                        }
                    }

                    span {
                        font-size: 18px;
                        font-weight: bold;
                        transition: .3s ease-in-out;
                    }

                    &:hover {
                        .icon {
                            background-color: #454274;
                        }

                        svg {
                            path {
                                fill: white;
                            }
                        }
                        span{
                            color: #454274;
                        }
                    }
                }
            }
        }
    }
}