* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    header {
        background-color: rgb(243, 243, 243);
        padding: 20px;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left_side {
                display: flex;
                align-items: center;

                .logo {
                    margin-right: 30px;

                    h1 {
                        display: inline-block;

                        a {
                            display: block;
                            width: 100px;
                        }
                    }
                }

                nav {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .nav {
                        ul {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            li{
                                button{
                                    border: none;
                                    display: flex;
                                    align-items: center;

                                    i{
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}