* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body header {
  background-color: #f3f3f3;
  padding: 20px;
}

body header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 12%;
}

body header .header .left_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .header .left_side .logo {
  margin-right: 40px;
}

body header .header .left_side .logo h1 {
  display: inline-block;
}

body header .header .left_side .logo h1 a {
  display: block;
  width: 100px;
}

body header .header .left_side nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header .header .left_side nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .header .left_side nav .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header .header .left_side nav .nav ul li {
  margin-right: 25px;
  font-size: 18px;
  cursor: pointer;
}

body header .header .left_side nav .nav ul li button {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  cursor: pointer;
}

body header .header .left_side nav .nav ul li button i {
  margin-right: 5px;
}

body header .header .left_side nav .nav ul li a {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .header .left_side nav .nav ul li a i {
  margin-right: 10px;
  color: #66b769;
}

body header .header .left_side nav .nav ul li a span {
  font-weight: bold;
  color: #66b769;
}

body header .header .right_side .registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

body header .header .right_side .registration .icon {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border-radius: 50%;
  padding: 12px 14px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

body header .header .right_side .registration .icon svg {
  width: 15px;
  max-height: 18px;
}

body header .header .right_side .registration span {
  font-size: 18px;
  font-weight: bold;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

body header .header .right_side .registration:hover .icon {
  background-color: #454274;
}

body header .header .right_side .registration:hover svg path {
  fill: white;
}

body header .header .right_side .registration:hover span {
  color: #454274;
}
/*# sourceMappingURL=style.css.map */